nav {
  position: absolute;
  width: var(--nav-width);
  left: 100%;
  height: 100vh;
  transition: translate 0.5s;
}
.menu-list {
  display: flex;
  flex-direction: column;
  height: 100%;
  li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 3rem;
    border-top: 1px solid #000;
    border-left: 1px solid #000;
    border-right: 1px sollid #000;
    cursor: pointer;
  }
  li:last-child {
    border-bottom: 1px solid #000;
  }
}
@media screen and (min-width: 768px) {
  nav {
    translate: -var(--nav-width) 0;
    height: var(--header-height);
    transition: translate 0;
  }
  .menu-list {
    flex-direction: row;
    li, li:last-child {
      border: none;
    }
    li::after {
      content: '';
      width: 0;
      height: 2px;
      margin-top: 2px;
      background-color: #000;
    }
    li:hover::after {
      transition: width 0.5s;
      width: 50%;
    }
  }
}